<h2 class="mt-3">Inline editing</h2>
<p>
  Table with simple inline editing. Edit cells using input field or select a
  value from a dropdown.
</p>
<div class="alert alert-info">
  Please note that examples below only persists changes in memory so the data
  will be reset when component is reinitialized e.g when route changes or page
  is refreshed.
</div>
<div class="card mb-5">
  <div class="row">
    <div class="col-md-4 login-sec">
      <!-- <h2 class="text-center">Parking Slot</h2> -->
      <form class="login-form" [formGroup]="todoForm">
        <div class="form-group">
          <label class="text-uppercase">Name *</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [(ngModel)]="userName"
          />
        </div>
        <div class="form-group">
          <label class="text-uppercase">Mobile *</label>
          <input
            type="number"
            class="form-control"
            formControlName="mobile"
            [(ngModel)]="userMobile"
          />
        </div>

        <!-- min="0"
            oninput="validity.valid||(value='');" -->
        <button
          [disabled]="!todoForm.valid"
          type="submit"
          class="btn btn-login float-right" (click)="submitData()"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="col-md-8">
      <div class="card mb-5">
        <div class="card-header">Todo</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Trash</th>
              </thead>
              <tr *ngFor="let user of tableData">
                <td *ngIf="user.id === editRowID"><input type="text" [(ngModel)]="user.id" disabled="$1"></td>
                <td *ngIf="user.id !== editRowID" (click)="Edit(user.id)">{{user.id}}</td>
                <td *ngIf="user.id === editRowID"><input type="text" [(ngModel)]="user.name"></td>
                <td *ngIf="user.id !== editRowID" (click)="Edit(user.id)">{{user.name}}</td>
                <td *ngIf="user.id === editRowID"><input type="text" [(ngModel)]="user.mobile">
                </td>
                <td *ngIf="user.id !== editRowID">{{user.mobile}}</td>
                <td *ngIf="user.id !== editRowID">
                  <button type="button" class="btn btn-sm  btn-danger">Delete</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="text-center">
          </div>
          <div class="alert alert-info" *ngIf="updatedRow">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>